header.site-header
  h1 simple look
  h4 still evolve

article.description
  p Simple-look is a micro css framework build on top standard html tags. Written to provide better project start point.

section.example
  div
    div
      h3 before
      example
    div
      h3 after
      simple

showcase
