@import '~flexstyl/flex'
@import '~simple-look/src/core/elements'
@import '~simple-look/src/core/behaviour'

*[raised]
  raised()

:host
  margin 1em 2em
  flex styl
  flex column

body
  color #333

.description
.example
  raised()

.description
  section()

.example
  div
    flex styl
    align center
    justify around

    div
      background #ddd
      flex styl
      flex column
      padding 2em


section
  section()

article
  card()

.site-header
  header()
  color teal
  text-align center
