@import '~flexstyl/flex'
@import '~simple-look/register'

:host
  margin 1em 2em

body
  color #333

h3
  margin .5em
  margin-bottom 1em

.description
  flex styl

.wrapper
  background #eee
  padding 1em

.card
  flex line
  flex column

.site-header
  color teal
  text-align center
