header.site-header
  h1 simple look
  h4 still evolve

article.description
  p Simple-look is a micro css framework build on top standard html tags. Written to provide better project start point.

section.example
  h1 comparison
  div
    h3 before
    h3 after

.comparison
  example
  simple

showcase
