header
  h1 title
  p sub-title

pre.
  markup in this example don't have any classes nor id's

div
  button home
  button hello
  button simple-look
  button example

input(placeholder='name')

select
  option 1
  option 2
  option 3

div
  textarea
  
article
  h1 ...  
  p hmmm
